---
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import Footer from "../../components/Footer.astro";
import Sentido from "../../components/Sentido.astro";
import NuestraCarta from "../../components/NuestraCarta.astro";
import Noticias from "../../components/Noticias.astro";
import Ubicacion from "../../components/Ubicacion.astro";
import Colabora from "../../components/Colabora.astro";

changeLanguage("en");
---

<Layout title="Tabgha | Portals Nous Solidarity Beach Bar">
	<header>
		<Navbar />
	</header>
	<main class="mb-36">
		<Hero />
		<Sentido />
		<NuestraCarta />
		<Colabora />
		<Noticias />
		<Ubicacion />
	</main>

	<Footer />
</Layout>
