---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import TitleSection from "../../components/widgets/TitleSection.astro";

changeLanguage("en");

function capitalizeFirstLetter(string: string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
const titleConverted = capitalizeFirstLetter(t("navbar.carta"));
---

<Layout title={`Tabgha | ${titleConverted}`}>
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-4">
    <div class="max-w-screen-xl">
      <TitleSection title={t("titulos.carta")} customClass="p-6" />
      <picture>
        <source srcset="/img/carta-tabgha.webp" type="image/webp">
        <img src="/img/carta-tabgha.jpg" alt={t("titulos.carta")}>
        <!-- <img src="/img/Tabgha-Panes-y-Peces.jpg" alt="Tabgha Panes y Peces" class="mb-6 max-h-80 w-full m-auto object-cover rounded-md"> -->
      </picture>
    </div>
  </main>
  <Footer />
</Layout>
