---
import { t } from "i18next";

---
<div
  id="cookie-banner"
  class="hidden fixed bottom-0 left-0 w-full bg-gray-200 px-4 py-2 text-center text-sm"
>
  <span class="inline-block align-middle mr-2"
    >{t("cookies.texto")}<a
      href={t("cookies.url")}
      class="underline">{t("cookies.info")}</a
    ></span
  >
  <button
    id="cookie-accept"
    class="inline-block align-middle px-8 py-3 my-3 sm:px-6 sm:py-2 sm:my-0 bg-tg-two text-white font-semibold border-none rounded cursor-pointer"
    >{t("cookies.aceptar")}</button
  >
</div>

<script is:inline>
document.addEventListener("DOMContentLoaded", function() {
  let banner = document.getElementById("cookie-banner");
  let acceptButton = document.getElementById("cookie-accept");

  let isBannerAccepted = localStorage.getItem("cookieBannerAccepted");
  if (!isBannerAccepted) {
    banner.style.display = "block";
  }

  acceptButton.addEventListener("click", function() {
    banner.style.display = "none";
    localStorage.setItem("cookieBannerAccepted", true);
  });
});
</script>
