---
const { title } = Astro.props;
---

<div class="flex justify-center gap-4 items-center w-full">
    <span class="w-full max-w-[64px] h-[2px] bg-tg-three"></span>
    <h2 class="text-3xl font-extrabold sm:text-5xl font-tg-title text-tg-three">{ title }</h2>
    <span class="w-full max-w-[64px] h-[2px] bg-tg-three"></span>
  </div>