---
const { title, customClass, fontText = "text-3xl" } = Astro.props;
---

<div class={`flex justify-center gap-4 items-center w-full ${customClass}`}>
  <span class="w-full max-w-[64px] h-[2px] bg-tg-three"></span>
  <h2 class=`${fontText} font-bold sm:text-5xl font-tg-title text-tg-three text-center`>
    {title}
  </h2>
  <span class="w-full max-w-[64px] h-[2px] bg-tg-three"></span>
</div>
