---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import TitleSection from "../components/widgets/TitleSection.astro";
import RestaurantSVG from "../components/icons/Restaurant.astro";

changeLanguage("es");
---

<Layout title={t("seo.titulo.cartaBebidas")} descripcion="Nuestra carta de bebidas ofrece una amplia variedad de refrescantes y sabrosas opciones para complementar tu experiencia en nuestro chiringuito de playa">
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-16">
    <div class="max-w-screen-xl flex flex-col justify-center items-center gap-3">
      <TitleSection title={t("titulos.bebidas")} customClass="p-6" />
      <picture>
        <!-- <source srcset="/img/carta/carta-bebidas-tabgha.webp" type="image/webp"> -->
        <img class="skeleton" width="1357px" height="1920px" src="/img/carta/carta-bebidas-tabgha.jpg" alt={t("titulos.bebidas")}>
        <!-- <img src="/img/Tabgha-Panes-y-Peces.jpg" alt="Tabgha Panes y Peces" class="mb-6 max-h-80 w-full m-auto object-cover rounded-md"> -->
      </picture>
      <picture>
        <img class="skeleton" width="1357px" height="1920px" src="/img/carta/carta-bebidas-tabgha-2.jpg" alt={t("titulos.bebidas")}>
      </picture>
      <picture>
        <img class="skeleton" width="1357px" height="1920px" src="/img/carta/carta-bebidas-tabgha-3.jpg" alt={t("titulos.bebidas")}>
      </picture>
      <a href={localizePath(t("navegacion.carta"))}
        class="flex items-center justify-center gap-2 w-3/4 sm:w-1/4 rounded px-12 py-3 text-sm font-medium text-white shadow bg-tg-two mt-8">
        <RestaurantSVG />{t("botones.comida")}
      </a>
    </div>
  </main>
  <Footer />
</Layout>
