---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import TitleSection from "../components/widgets/TitleSection.astro";

changeLanguage("es");
---

<Layout title="Tabgha | Colabora con nuestro proyecto" descripcion="Con nuestro proyecto del ALBERGUE FAMILIAR Cáritas Interparroquial en la parroquia de Palmanova, con el comedor social de Cáritas Inca, o para cubrir las NECESIDADES BASICAS que pongan en riesgo de exclusión a cualquier persona">
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-5 min-h-[95vh]">
    <div
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
    >
    <TitleSection title="COLABORA" />
     <article>
        <h2>A.- Con nuestro proyecto del ALBERGUE FAMILIAR Cáritas Interparroquial en la parroquia de Palmanova. Te explicamos: </h2>
        <p>Puedes colaborar con nuestro proyecto con una donación al Bizum del ALBERGUE FAMILIAR num. 07671 o a la cuenta ES3700494883912116065675 (especifica albergue familiar)</p>
        <div class="flex aspect-video skeleton">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/EAOo3JXQ0P8" title="Cáritas Interparroquial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <h2>B.- Con el comedor social de Cáritas Inca. Te lo explicamos: </h2>
        <p>Puedes colaborar con nuestro proyecto con una donación al Bizum del COMEDOR SOCIAL num. 07670 o a la cuenta ES3700494883912116065675 (especifica comedor social)</p>
        <div class="flex aspect-video skeleton">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0QvX58cEGgE" title="Cáritas Inca" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <h2>C.- Para cubrir las NECESIDADES BASICAS que pongan en riesgo de exclusión a cualquier persona. Te lo explicamos: </h2>
        <p>Puedes colaborar con nuestro proyecto con una donación al Bizum de NECESIDADES BASCIAS num. 07677 o a la cuenta ES3700494883912116065675 (especifica necesidades básicas)</p>
        <div class="flex aspect-video skeleton">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZwMbJM3NdlY" title="Cáritas Santander" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
     </article>
    </div>
  </main>

  <Footer />
</Layout>
