---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";

changeLanguage("de");
---

<Layout title="Tabgha | Wandmalerin Carolina">
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-5 min-h-[95vh]">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
    >
      <h1>Wir stellen die Wandmalerin Carolina vor</h1>
      <div class="flex justify-center">
        <video src="/video/artista-mural.mp4" width="480" height="848" controls>
          Ihr Browser unterstützt keine Videos.
        </video>
      </div>

      <h2>Das Ergebnis des Wandbildes:</h2>
      <img src="/img/mural-1.jpg" alt="mural tabgha abajo">
      <img src="/img/mural-2.jpg" alt="mural tabgha arriba">
    </article>
  </main>

  <Footer />
</Layout>
