---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";

changeLanguage("de");
---

<Layout title="Tabgha | Motivationsphrasen für das Gemeinwohl">
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-5 min-h-[95vh]">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
    >
      <h1>Motivationsphrasen für das Gemeinwohl</h1>
      <img src="/img/manos-unidas.webp" alt="manos unidas" width="1279px" height="656px">
      <p><strong>VERLASSEN UND TEILEN.</strong> Wir laden Sie ein, einen Satz von Ihnen selbst oder von einem Autor, mit dem Sie sich identifizieren oder mit dem Sie
        Sie denken, dass er erhellend sein kann und/oder Hinweise geben kann, um uns als Gesellschaft zum Gemeinwohl zu führen. Mögliche Themen:
        Armut und Ausgrenzung, Arbeit, Wirtschaft, neue Technologien, Spiritualität, Religion, Kommunikation, zwischenmenschliche
        zwischenmenschliche Kommunikation, Politik, Selbsthilfe, Bildung, Sport, Sinn, Gott...</p>
      <p>Füllen Sie das untenstehende Formular aus oder 
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAuZXrMlf9Jh4pA_HN_EpCJgAFSaxpx0eiG5OTg3dOGHw5RQ/viewform" target="_blank">klicken Sie auf diesen Link.</a>
      </p>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeAuZXrMlf9Jh4pA_HN_EpCJgAFSaxpx0eiG5OTg3dOGHw5RQ/viewform?embedded=true"
          width="100%"
          height="1150px"
          frameborder="0"
          marginheight="0"
          marginwidth="0">Laden...</iframe>
    </article>
  </main>

  <Footer />
</Layout>
