---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import TitleSection from "../../components/widgets/TitleSection.astro";

changeLanguage("ca");
---

<Layout title="Tabgha | Col·labora amb el nostre projecte" descripcion="Amb el nostre projecte de l'ALBERG FAMILIAR Càritas Interparroquial a la parròquia de Palmanova, amb el menjador social de Càritas Inca, o per cobrir les NECESSITATS BÀSIQUES que posin en risc d'exclusió qualsevol persona">
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-5 min-h-[95vh]">
    <div
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
    >
    <TitleSection title="COL·LABORA" />
     <article>
          <h2>A.- Amb el nostre projecte de l'ALBERG FAMILIAR Càritas Interparroquial a la parròquia de Palmanova. T'expliquem:</h2>
          <p>Pots col·laborar amb el nostre projecte amb una donació al Bizum de l'ALBERG FAMILIAR num. 07671 o al compte ES3700494883912116065675 (especifica alberg familiar)</p>

          <h2>B.- Amb el menjador social de Càritas Inca. T'ho expliquem:</h2>
          <p>Pots col·laborar amb el nostre projecte amb una donació al Bizum del MENJADOR SOCIAL num. 07670 o al compte ES3700494883912116065675 (especifica menjador social)</p>
          <div class="flex aspect-video skeleton">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0QvX58cEGgE" title="Cáritas Inca" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>

          <h2>C.- Per cobrir les NECESSITATS BÀSIQUES que posin en risc dexclusió qualsevol persona. T'ho expliquem:</h2>
          <p>Pots col·laborar amb el nostre projecte amb una donació al Bizum de NECESSITATS BÀSCIES num. 07677 o al compte ES3700494883912116065675 (especifica necessitats bàsiques)</p>
          <div class="flex aspect-video skeleton">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZwMbJM3NdlY" title="Cáritas Santander" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
     </article>
    </div>
  </main>

  <Footer />
</Layout>
