---
import i18next, { t } from "i18next";
import Section from "./widgets/Section.astro";
import ArrowRightSM from "./icons/ArrowRightSM.astro";
import { localizePath } from "astro-i18next";

const lang = i18next.language;

const imgMenu = () => {
  if(lang === "es") return "/img/colabora-es.jpg"
  if(lang === "ca") return "/img/colabora-ca.jpg"
  if(lang === "en") return "/img/colabora-en.jpg"
  if(lang === "de") return "/img/colabora-de.jpg"
}

const fontSize = () => {
  if(lang === "de") return "text-xl"
}

---

<Section
  id={t("navbar.colabora")}
  title={t("titulos.colabora")}
  text={t("textos.colabora")}
  img={imgMenu()}
  alt="Tabgha solidario colabora"
  imgWidth="512px"
  imgHeight="320px"
  fontText={fontSize()},
  url={localizePath(t("navegacion.colabora"))}
>
  <div class="mt-8 justify-center flex gap-4 text-center">
    <a
      href={localizePath(t("navegacion.colabora"))}
      class="flex items-center justify-center gap-2 rounded bg-tg-two px-12 py-3 text-sm font-medium text-white shadow sm:w-auto"
    >
      {t("botones.leerMas")}
      <ArrowRightSM stroke="white" />
    </a>
  </div>
</Section>
