---
import tabghaLogo from '/img/tabgha-logo.png'
---

<section
  class="relative md:pt-0 pt-24 bg-tabgha-beach bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-black/0 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/0 sm:to-white/30"
  ></div>

  <div
    class="relative text-white mx-auto max-w-screen-xl md:py-32 py-10 px-6 sm:flex sm:flex-row-reverse md:h-screen sm:items-center lg:px-8"
  >
    <div class="max-w-xl text-center justify-center bg-opacity-70 p-12 rounded-md">
      <img src={tabghaLogo} alt="Tabgha Logo" class="p-6 m-auto">
      <h1 class="text-3xl font-extrabold sm:text-5xl ">
        Portals Nous

        <strong class="font-tg-title block font-extrabold text-tg-three">
          Tabgha
        </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
        tenetur fuga ducimus numquam ea!
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center justify-center">
        <a
          href="#"
          class="block w-full rounded bg-tg-three px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Nuestra carta
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-tg-three shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Saber más
        </a>
      </div>
    </div>
  </div>
</section>

