---
import { t } from "i18next";
import tabghaLogoMEJOR from '/img/logo-peces-pan.png'
import tabghaLogo from '/img/tabgha-logo.png'
import RestaurantSVG from './icons/Restaurant.astro'
import ArrowRightSM from './icons/ArrowRightSM.astro'
---

<section id={t("navbar.inicio")} class="relative md:pt-0 sm:bg-tabgha-beach bg-tabgha-beach-mobile bg-cover bg-bottom sm:bg-left bg-no-repeat lg:mb-20">
    <div class="absolute inset-0 bg-gradient-to-b from-black/0 to-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/0 sm:to-black/60"></div>
    <svg class="absolute inset-x-0 bottom-[-1px]" viewBox="0 0 1080 60" xmlns="http://www.w3.org/2000/svg"><path fill="#f7f6ef" d="M0 30C120 0 240 0 360 30s240 30 360 0 240-30 360 0 240 30 360 0v30H0V30z"/></svg>

    <div class="relative text-white mx-auto max-w-screen-xl md:py-32 py-5 px-6 sm:flex sm:flex-row-reverse md:h-screen sm:items-center lg:px-8">
        <div class="max-w-xl text-center justify-center sm:bg-opacity-60 bg-opacity-30 p-9 rounded-xl ">
            <img src={tabghaLogo} alt="Tabgha Logo" class="md:p-6 p-6 m-auto">
                <h1 class="text-5xl font-extrabold sm:text-5xl shadow-tb">TABGHA
                    <strong class="text-4xl font-tg-title block font-extrabold text-tg-sand shadow-tb">
                        Portals Nous
                    </strong>
                </h1>

                <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed shadow-tb">
                    {t("portada.descripcion")}
                </p>

            <div class="mt-8 flex items-center flex-wrap gap-4 text-center justify-center">
                <a
                    href={`#${t("navegacion.carta")}`}
                    class="flex items-center justify-center gap-2 w-full rounded bg-tg-two px-12 py-3 text-sm font-medium text-white shadow focus:outline-none focus:ring sm:w-auto"
                >
                    <RestaurantSVG/>
                    {t("botones.carta")}
                </a>

                <a
                href={`#${t("navegacion.sentido")}`}
                    class="flex items-center justify-center gap-2 w-full rounded bg-white px-12 py-3 text-sm font-medium text-black shadow focus:outline-none focus:ring sm:w-auto"
                >
                    {t("botones.saberMas")}
                    <ArrowRightSM/>
                </a>
            </div>
        </div>
    </div>
</section>
