---
import { t } from "i18next";
import tabghaLogoMEJOR from '/img/logo-peces-pan.png'
import RestaurantSVG from './icons/Restaurant.astro'
import ArrowRightSM from './icons/ArrowRightSM.astro'
import TabghaLogo from "./widgets/TabghaLogo.astro";
---

<section id={t("navbar.inicio")} class="relative md:pt-0 bg-cover bg-bottom sm:bg-left bg-no-repeat lg:mb-20">
  <picture>
    <source srcset="/img/tabgha-beach.webp" media="(min-width: 640px)" type="image/webp" />
    <source srcset="/img/tabgha-beach.jpeg" media="(min-width: 640px)" type="image/jpeg" />
    <source srcset="/img/tabgha-beach-mobile.webp" type="image/webp" />
    <source srcset="/img/tabgha-beach-mobile.jpeg" type="image/jpeg" />
    <img src="/img/tabgha-beach.jpeg" alt="Tabgha Beach" class="absolute inset-0 left-0 w-full h-full object-cover object-left skeleton" fetchpriority="high"/>
  </picture>
  <span class="absolute inset-0 bg-gradient-to-b from-black/0 to-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/0 sm:to-black/60"></span>
  <img src="/img/wave.svg" alt="ola playa" class="absolute inset-x-0 bottom-[-1px]">

  <div class="relative text-white mx-auto max-w-screen-xl md:py-32 py-5 px-6 sm:flex sm:flex-row-reverse xl:h-screen sm:items-center lg:px-8">
    <div class="max-w-xl text-center justify-center sm:bg-opacity-60 bg-opacity-30 p-8 rounded-xl">
      <TabghaLogo className="md:p-16 p-8 m-auto tg-logo-size"/>
      <!-- <img src="/img/tabgha-logo.svg" alt="Tabgha Logo" class="md:p-16 p-8 m-auto tg-logo-size"> -->
        <h1 class="text-5xl font-bold shadow-tb">
          TABGHA
            <span class="text-2xl font-tg-title block font-bold text-tg-sand shadow-tb">
              {t("portada.chiringuitoSolidario")}
            </span>
            <span class="text-2xl font-tg-title block font-bold text-tg-sand2 shadow-tb">
              Portals Nous
          </span>
        </h1>

        <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed shadow-tb">
            {t("portada.descripcion")}
        </p>

      <div class="mt-8 flex items-center flex-wrap gap-4 text-center justify-center">
        <a href={`#${t("navbar.carta")}`} class="flex items-center justify-center gap-2 w-full rounded bg-tg-two px-12 py-3 text-sm font-medium text-white shadow focus:outline-none focus:ring sm:w-auto">
            <RestaurantSVG/>
            {t("botones.carta")}
        </a>

        <a href={`#${t("navbar.sentido")}`} class="flex items-center justify-center gap-2 w-full rounded bg-white px-12 py-3 text-sm font-medium text-black shadow focus:outline-none focus:ring sm:w-auto">
            {t("botones.saberMas")}
            <ArrowRightSM/>
        </a>
      </div>
    </div>
  </div>
</section>

<style is:inline>
  .chiringuito {
    color: #c6934b;
  }
  @media (max-height: 900px) and (min-width: 640px) {
    .tg-logo-size {
      max-width: 80%;
    }
  }
</style>