---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import  LanguageSelector  from "./LanguageSelector.astro";

import logoPez from "../../public/img/logo-pez.png";

const isCurrentPath = (path) => {
  const { pathname } = Astro.url;
  const currentNormalizedPath = pathname.replace(/\/$/, "");
  path = path.replace(/\/$/, "");
  return currentNormalizedPath === path;
};

const navigationItems = {
    "/": t("navegacion.inicio"),
    "/sentido/": t("navegacion.sentido"),
    "/noticias/": t("navegacion.noticias"),
    "/ubicacion/": t("navegacion.ubicacion"),
    "/contacto/": t("navegacion.contacto"),
};

---

<nav class="absolute w-full z-10 bg-white bg-opacity-70 border-gray-200 px-2 sm:px-4 py-2.5 rounded-b">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href={localizePath('/', i18next.language)} class="flex items-center">
            <img src={logoPez} class="h-6 mr-3 sm:h-9" alt="Tabgha Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap">Tabgha</span>
        </a>
        <LanguageSelector showFlag={true} class="bg-blue-200 p-1 rounded-full" />
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
                {
                    Object.keys(navigationItems).map((key) => {
                      let className = "py-2 px-4 uppercase text-sm underline-offset-2 tracking-wider decoration-4 font-semibold";
                      if (isCurrentPath(localizePath(key, i18next.language))) {
                        className += " underline decoration-cyan-500";
                      } else {
                        className +=
                          " opacity-75 hover:opacity-100 hover:underline decoration-gray-300";
                      }
                      return (
                        <a class={className} href={localizePath(key, i18next.language)}>
                          {navigationItems[key]}
                        </a>
                      );
                    })
                }
                
                <!-- <li>
                    <a href="/" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">{t('navegacion.carta')}</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">{t('navegacion.sentido')}</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">{t('navegacion.noticias')}</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">{t('navegacion.ubicacion')}</a>
                </li>
                <li>
                    <a href="/contacto" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">{t('navegacion.contacto')}</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const collapse = document.querySelectorAll('[data-collapse-toggle]');
        collapse.forEach(function(el) {
            el.addEventListener('click', function() {
                const target = document.getElementById(this.getAttribute('aria-controls'));
                if (target) {
                    target.classList.toggle('hidden');
                    this.setAttribute('aria-expanded', target.classList.contains('hidden') ? 'false' : 'true');
                }
            });
        });
    });
</script>