---
import { t } from "i18next";
import TitleSection from "./widgets/TitleSection.astro";
---

<section id={t("navbar.noticias")} class="flex justify-center">
    <div class="flex flex-col sm:flex-row gap-4 items-center text-black max-w-screen-xl p-8 max-m-32 md:m-12 rounded-xl">
    <div class="container mx-auto p-8">
      <div class="-mx-4 flex flex-wrap justify-center">
        <div class="w-full">
          <div class="flex flex-col justify-center items-center mx-auto mb-8 max-w-[510px] text-center">

            <TitleSection title={t("titulos.noticias")} />

            <p class="mt-4 max-w-lg sm:text-xl">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration in some form.
            </p>
          </div>
        </div>
      </div>
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class="mx-auto mb-10 max-w-[370px]">
            <div class="mb-8 overflow-hidden rounded">
              <img
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-playas-chiringuitos-cadiz-canos-meca-faro-1647955543.jpeg?crop=1xw:1xh;center,top&resize=480:*"
                alt="image"
                class="w-full"
              />
            </div>
            <div>
              <span
                class="bg-tg-two mb-5 inline-block rounded py-1 px-4 text-center text-xs font-semibold leading-loose text-white"
              >
                Mar 15, 2023
              </span>
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 inline-block text-xl font-semibold sm:text-2xl lg:text-xl xl:text-2xl"
                >
                  Próxima apertura
                </a>
              </h3>
              <p class="text-body-color text-base">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class="mx-auto mb-10 max-w-[370px]">
            <div class="mb-8 overflow-hidden rounded">
              <img
                src="https://www.guiarepsol.com/content/dam/repsol-guia/contenidos-imagenes/comer/nuestros-favoritos/siete-chiringuitos-playeros-en-tenerife/gr-cms-media-filer_public-38-4f-384fdfab-7e67-4a2b-937a-c32c9da908c3-ok_gr0015-lassalinas.jpg.transform/rp-rendition-xs/image.jpg"
                alt="image"
                class="w-full"
              />
            </div>
            <div>
              <span
                class="bg-tg-two mb-5 inline-block rounded py-1 px-4 text-center text-xs font-semibold leading-loose text-white"
              >
                Mar 18, 2023
              </span>
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 inline-block text-xl font-semibold sm:text-2xl lg:text-xl xl:text-2xl"
                >
                  Nuestro sentido
                </a>
              </h3>
              <p class="text-body-color text-base">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class="mx-auto mb-10 max-w-[370px]">
            <div class="mb-8 overflow-hidden rounded">
              <img
                src="https://www.tuoagency.com/uploads/chiringuito-playa-olibaba.jpg?1562667664487"
                alt="image"
                class="w-full"
              />
            </div>
            <div>
              <span
                class="bg-tg-two mb-5 inline-block rounded py-1 px-4 text-center text-xs font-semibold leading-loose text-white"
              >
                May 07, 2023
              </span>
              <h3>
                <a
                  href="javascript:void(0)"
                  class="text-dark hover:text-primary mb-4 inline-block text-xl font-semibold sm:text-2xl lg:text-xl xl:text-2xl"
                >
                  Ya estamos abiertos!
                </a>
              </h3>
              <p class="text-body-color text-base">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> </div>
  </section>