---
import { localizePath } from "astro-i18next";
import i18next, { t } from "i18next";
import Section from "./widgets/Section.astro";
import RestaurantSVG from "./icons/Restaurant.astro";
import DrinkSVG from "./icons/Drink.astro";

const lang = i18next.language;

const imgMenu =
  lang === "es" || lang === "ca"
    ? "/img/menu-tabgha-mapa-es.jpg"
    : "/img/menu-tabgha-mapa-en.jpg";
---

<Section
  id={t("navbar.carta")}
  flex="flex-col lg:flex-row-reverse"
  title={t("titulos.carta")}
  text={t("textos.carta")}
  img={imgMenu}
  alt="Menu Carta Tabgha"
>
  <div
    class="justify-center flex flex-col items-center text-center mt-8 gap-4 w-full"
  >
    <a
      href={localizePath(t("navegacion.carta"))}
      class="flex items-center justify-center gap-2 w-3/4 rounded px-12 py-3 text-sm font-medium text-white shadow bg-tg-two"
      ><RestaurantSVG />{t("botones.comida")}</a
    >
    <a
      href={localizePath(t("navegacion.bebidas"))} 
      class="flex items-center justify-center gap-2 w-3/4 rounded px-12 py-3 text-sm font-medium text-white shadow bg-tg-two"
      ><DrinkSVG />{t("botones.bebidas")}</a
    >
  </div>
</Section>
