---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import TitleSection from "../../components/widgets/TitleSection.astro";

changeLanguage("de");

function capitalizeFirstLetter(string: string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
const titleConverted = capitalizeFirstLetter(t("navbar.sentido"));
---

<Layout title={`Tabgha | ${titleConverted}`}>
  <header>
    <Navbar />
  </header>
  <main class="flex justify-center sm:py-40 py-24 px-5">
    <div class="max-w-screen-xl">
      <TitleSection title={t("titulos.sentido")} customClass="p-6" />
      <picture>
        <source media="(min-width: 550px)" srcset="/img/Tabgha-Panes-y-Peces-Full.jpg">
        <img src="/img/Tabgha-Panes-y-Peces.jpg" alt="Tabgha Panes y Peces" class="mb-6 max-h-80 w-full m-auto object-cover rounded-md">
      </picture>
      <p class="sm:text-xl whitespace-pre-wrap">{t("sentido.texto")}</p>
    </div>
  </main>
  <Footer />
</Layout>
