---
import "@fontsource/montserrat";
import "@fontsource/manrope";

import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Metatags from "../components/Metatags.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <HeadHrefLangs />
    <title>{t("site.inicio")}</title>
    <Metatags />
    <link rel="sitemap" href="/sitemap-index.xml">
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
	html {
		font-family: "Montserrat", system-ui, sans-serif;
		background-color: #f7f6ef;
		scroll-behavior: smooth;
	}

	.shadow-tb {
		text-shadow: black 0.1em 0.1em 0.2em;
	}

  ::-moz-selection { /* Code for Firefox */
    color: #e6be8f;
    background: #254B5E;
  }

  ::selection {
    color: #e6be8f;
    background: #254B5E;
  }
</style>